
<div class="wrapper">

    <div class="commentContainer">

        <div class="commentHeader">
    
            <div class="avatarDiv">
                <p-avatar label="P" styleClass="mr-2" size="xlarge" shape="circle"></p-avatar>
            </div>
    
            <div class="nameDateDiv">
                <p>name surname</p>
                <p>date</p>
            </div>
        </div>
    
        <div class="commentBody">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum velit magni error voluptates, aut officiis obcaecati at voluptatem dignissimos, labore libero, placeat excepturi. Dignissimos veritatis labore sapiente? Odio, adipisci alias.
            </p>
        </div>

    </div>

</div>
