

<div>
    <h2 class="text-center mt-3">Give birth to a new creative project.</h2>
    
    <h5 class="text-center mt-4 mb-3 ">ON KICKSTARTER:</h5>

    <div class="smallTable">
        <div class="divBorder">
            <p class="coloredNumbers">237.705</p>
            <p class="coloredText">funded projects</p>
        </div>

        <div class="divBorder">
            <p class="coloredNumbers">7.250.232.948 $</p>
            <p class="coloredText">for created activity</p>
        </div>

        <div>
            <p class="coloredNumbers">87.140.542</p>
            <p class="coloredText">contributions</p>
        </div>
    </div>

</div>

<div class="divProjects">
    
    <app-project></app-project>

</div>