<div class="wrapper">
  <div class="stepContainer">
    <h3 class="text-center">
      Insert name, description and goal of the project
    </h3>
    <form [formGroup]="stepOneForm" class="form">

      <div class="divTitleCategory">

        <div class="form-group">
          <label>Title:</label>
          <input type="text" class="form-control" formControlName="title" required>
          <div *ngIf="stepOneForm.get('title')?.invalid && (stepOneForm.get('title')?.dirty || stepOneForm.get('title')?.touched)" class="alert alert-danger">
            <div *ngIf="stepOneForm.get('title')?.errors?.['required']">Title is required</div>
          </div>
        </div>
      
        <div class="form-group">
          <label>Category:</label>
          <select class="form-control" formControlName="category">
            <option value="">Select category</option>
            <option *ngFor="let category of categories" [ngValue]="category">{{category.name}}</option>
          </select>
          <div *ngIf="stepOneForm.get('category')?.invalid && (stepOneForm.get('category')?.dirty || stepOneForm.get('category')?.touched)" class="alert alert-danger">
            <div *ngIf="stepOneForm.get('category')?.errors?.['required']">Category is required</div>
            <div *ngIf="stepOneForm.get('category')?.errors?.['invalidCategory']">Invalid category</div>
          </div>
        </div>

      </div>

      <div class="form-group">
        <label>Description:</label>
        <textarea class="form-control" formControlName="description" required></textarea>
        <div *ngIf="stepOneForm.get('description')?.invalid && (stepOneForm.get('description')?.dirty || stepOneForm.get('description')?.touched)" class="alert alert-danger">
          <div *ngIf="stepOneForm.get('description')?.errors?.['required']">Description is required</div>
        </div>
      </div>
    
     
    </form>
    
  </div>
</div>
