
<div class="container">
    <h2 class="text-center mt-5">Project 1</h2>
    <p class="text-center">this is the descryption of the project</p>

    <div class="projectContainer">
        <div class="divImg">
            <img src="../../../assets/img/images.png" alt="project">
        </div>
        <div class="divFund">
            <p class="fundP">Amount gathered: 0$</p>
            <p class="fundP">Objective: 10.000$</p>
            <p class="fundP">Financiers: 0</p>
            <div class="divButton">
                <p-button label="Save it" styleClass="p-button-warning" class="buttonSave"><i class="pi pi-bookmark"></i></p-button>
                <a routerLink="/funding"><button pButton pRipple label="Fund this project" class="p-button-success"></button></a>
            </div>
        </div>
    </div>
</div>
