

<header class="header">
    <div clas="discoverDiv">
        <a class="p-2" routerLink="">Discover</a>
        <a routerLink="/create-project">Create a project</a>
    </div>

    <div>
        <img class="logo" src="../../../assets/img/Kickstarter-Logo.png" alt="logo">
    </div>

    <div class="loginDiv">
        <div class="divSearch">
            <button class="searchIcon"><i class="pi pi-search "></i></button>
            <input class="searchInput" type="text">
        </div>
        <a class="p-2" routerLink="login">Login</a>
        
    </div>
    
</header>
